html, body, .container, .content {
    height: 100%;
}
 
.container, .content {
    position: relative;
}
 
.proper-content {
    padding-top: 50px; /* >= navbar height */
}
 
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* same as the footer */
}
 
.push {
    height: 50px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 50px;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 1200px) {
  #chat-main {
    width: 70.94017094017096% !important;
    margin-left: 0px !important;
  }
  #chat-channel-users {
    margin-left: 0px !important;
  }
}
