*local.js
*.swp
00_monitor.js
*.pem
*.csr
*.crt
*.key
node_modules
*~
build
__pycache__/
*.egg-info/
waartaa/client/static/js/
npm-debug.log
*hot-update.js*
dist
env
*oidcHelpers.jsx
client_secrets.json
