// Colors
dark-gray = #5A5A5A
gray = #e7e7e7
hyperlink = #c1c1c1
navbar-color = #323754

//Sizes
font20 = 20px
weight600 = 600

// Fonts
font-family = 'Lato', sans-serif

// HTML Element CSS
body
    font-family: font-family !important

ul
    list-style-type: none

// Generic Classes
.no-decoration
    text-decoration: none

.margin-5
    margin-top: 5px

.margin-10
    margin-top: 10px

.margin-20
    margin-top: 20px

.display-block
    display: block

// Custom Classes
.waartaa-logo
    font-family: 'Lato', sans-serif
    font-size: font20
    font-weight: weight600
    color: gray

    &:hover
        color: gray
        text-decoration: none

.waartaa-navbar
    background-color: navbar-color

.wr-navbar-icons
    padding-right: 10px
    a
        text-decoration: none
        color: hyperlink
        padding-right: 15px
        padding-left: 5px
        font-size: 15px

.align-dropdown-caret
    margin-right: 16px

nav
    .container
        width: 100%

// Search UI
.search-container
    .row
        margin-top: 15px

    .left-col
        width: 550px
        float: left
        padding: 20px 0 0 2px
        word-wrap: break-word

    .search-input
        width: 100%
        border-radius: 20px;
        padding-left: 50px;
        font-size: 15px;
        font-weight: 800;

    .fa-search
        position: absolute
        top: 8px
        left: 16px
        font-size: 18px

    .chzn-container,
    .chzn-cotainer-single
        width: 195px !important
        position: absolute
        top: -5px
        right: 0

        .chzn-single
            height: 34px
            line-height: 30px
            border-radius: 0 15px 15px 0
            overflow: hidden

            div
                b
                    position:absolute
                    top: 5px
        .chzn-drop
            min-width: 195px
            white-space: nowrap
            width: auto !important
            border-top: 1px solid #aaa

    .chzn-with-drop
        .chzn-single
            border-bottom-right-radius: 0

    .results-count
        color: #808080
        font-weight: 400

    .nav-tabs
        bottom-border: none

    .tab-content
        min-height: 500px
        max-height: 600px
        border: 1px solid #d4d4d4
        margin-top: -3px;
        border-top: 0px;
        width: 100%

    .bookmark-label
        a.active
            font-weight: bold
            color: #563d7c
            background-color: transparent
            border-right: 1px solid #563d7c

    .paginator
        margin-top: 15px
        padding: 10px
        text-align: center
        border-top: 1px solid #d4d4d4

        #previous-icon
          margin-right: 5px

        #page-no
            width: 45px
            height: 13px
            padding: 10px 5px 10px 5px
            text-align: center
            margin-left: 5px
            margin-right: 5px
            border: 1px solid #ccc
            font-size: 14px
            font-weight: 600

        .total-count
            color: #333
            font-weight: 600

        #next-icon
            margin-left: 10px

        .next-prev-icon
          font-size: 16px
          position: relative
          top: 2px
