[webservers]
app1.site.com

[dbservers]
db1.site.com

[webservers:vars]
waartaa_root_url=https://www.site.com
waartaa_server_name=www.site.com
waartaa_mongo_url=mongodb://db1.site.com:27017/waartaa
waartaa_mongo_oplog_url=mongodb://db1.site.com:27017/local
waartaa_ssl_certificate_template=www.site.com.crt
waartaa_ssl_key_template=www.site.com.key
waartaa_deploy_path=/home/waartaa/deploy/bundle
waartaa_log_file_path=/var/log/waartaa/app.log
waartaa_ident_file_path=/root/.oidentd.conf
waartaa_nginx_conf_filename=waartaa.conf
waartaa_logs_scrollback_count=500
waartaa_channel_logs_collection_limit_per_channel=1000
waartaa_channel_logs_cleanup_interval=2 * 3600 * 1000
waartaa_super_user=admin
waartaa_super_user_email=admin@site.com
waartaa_super_user_password=XXXXXX
waartaa_secret_key=some key
newrelic=true
newrelic_app_name=XXXXXX
newrelic_license_key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
newrelic_logging_level=trace
waartaa_meteor_settings="'{\"public\":{\"ga\":{\"id\":\"UA-XXXXXXXX-X\"}},\"presenceTimeout\":30000,\"DEBUG\":false}'"

[dbservers:vars]
mongo_logpath=/var/log/mongo/mongod.log
mongo_dbpath=/var/lib/mongo
mongo_pidfilepath=/var/run/mongodb/mongod.pid
mongo_smallfiles=false
mongo_oplogSize=256
mongo_mms_token=""
mongo_mms_name=mms_server_name

