<template name="user_dashboard">
  <div id="dashboard">
    <div class="row">
      {{>user_connections}}
      {{>user_notifications}}
    </div>
  </div>
</template>

<template name="user_connections">
  <div class="boxed-group span8">
    <h3>My connections</h3>
    <div class="boxed-group-inner padding-top-10">
      <div id="myconnections">
        <div class="accordion" id="accordion-my-connections">
          {{> accordion_join_server}}
          {{> accordion_user_servers}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="accordion_user_servers">
  {{#each userServers}}
    <div class="accordion-group">
      <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-user-server-id="{{_id}}" data-parent="#accordion-my-connections" href="#accordion-user-server-{{_id}}">
        Freenode
          <span class="control-menu pull-right">
            <i class="icon-pencil"></i>
            <i class="icon-trash"></i>
          </span>
        </a>
      </div>
      <div id="accordion-user-server-{{_id}}" class="accordion-body collapse">
        <div class="accordion-inner">
          <form id="update-user-server-form-{{_id}}" class="update-user-server-form">
            <div class="container-fluid">
              <fieldset>
                <input type="hidden" name="user_server_id" value="{{_id}}">
                <div class="row-fluid">
                  <input name="nick" type="text" class="span12" placeholder="Nick" value="{{nick}}">
                </div>
                <div class="row-fluid">
                  <input name="password" type="password" class="span12" placeholder="Password" value="{{password}}">
                </div>
                <div class="row-fluid">
                  <input name="channels" type="text" class="span12" placeholder="Channels..."
                    value="{{#listToCsv channels}}{{/listToCsv}}">
                </div>
              </fieldset>
              <div class="form-actions">
                <div class="pull-right">
                  <button type="button" class="btn">Cancel</button>
                  <button id="save-user-server-{{_id}}" type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
           </form>
        </div>
      </div>
    </div>
  {{/each}}
</template>

<template name="accordion_join_server">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-my-connections" href="#accordion-join-server-content">
        <i class="icon-plus"></i>
        Join a server
      </a>
    </div>
    <div id="accordion-join-server-content" class="accordion-body collapse">
      <div class="accordion-inner">
        <div class="container-fluid">
          <form>
            <fieldset>
              <div class="row-fluid">
                {{> servers_list_for_user}}
              </div>
              <div class="row-fluid">
                <input id="server-join-nick" type="text" class="span12" name="nick" required="true" placeholder="Nick">
              </div>
              <div class="row-fluid">
                <input id="server-join-password" type="password" class="span12" name="password" placeholder="Password">
              </div>
              <div class="row-fluid">
                <input id="server-join-channels" type="text" class="span12" name="channels" placeholder="Channels...">
              </div>
            </fieldset>
            <div class="form-actions">
              <div class="pull-right">
                <button type="button" class="btn">Cancel</button>
                <button id="join-server-submit" type="submit" name="submit" class="btn btn-primary">Join</button>
              </div>
            </div>
          </form>
        </div>
       </fieldset>
    </div>
  </div>
</template>

<template name="servers_list_for_user">
  <select id="server-join-server-list" class="span12" name="server" required="true" placeholder="Select a server...">
    <option selected="selected" value="">Select a server...</option>
    {{#each serversForUser}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
</template>

<template name="user_notifications">
  <div class="boxed-group span4">
    <h3>Notifications</h3>
    <div class="boxed-group-inner">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <a href="#">You were mentioned in Freenode#dgplug 3 hours ago</a>
        </li>
        <li>
          <a href="#">Sayan sent you a private message in Freenode 1 hour ago</a>
        </li>
        <li>
          <a href="#">Kushal sent you a file 3 hours ago</a>
        </li>
      </ul>
    </div>
  </div>
</template>
