import { createUserManager } from 'redux-oidc';

const locationPort = window.location.port ? `:${window.location.port}` : '';
const redirectPathKey = 'redirectPathKey';

const userManagerConfig = {
  client_id    : 'A-BCDEFGHIJKLMNOPQRST', // client id
  redirect_uri : `${window.location.protocol}//${window.location.hostname}${locationPort}/oidc_callback`, // callback url
  response_type: 'id_token token', // the response type from the token service
  scope        : 'openid profile email', // the scopes to include
  authority    : 'https://iddev.fedorainfracloud.org/openidc/' // the authority
};

const userManager = createUserManager(userManagerConfig);
export default userManager;
