html, body, .container, .content {
    height: 100%;
}
 
.container, .content {
    position: relative;
}
 
.proper-content {
    padding-top: 50px; /* >= navbar height */
}
 
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* same as the footer */
}
 
.push {
    height: 50px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 50px;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 1200px) {
  #chat-main {
    /*width: 70.94017094017096% !important;*/
    margin-left: 0px !important;
  }
  #chat-channel-users {
    margin-left: 0px !important;
  }
}

#chat {
  margin-top: 10px;
}

#chat-main {
    padding: 0;
}

#chat-input-form .typeahead.dropdown-menu {
    bottom: 40px !important;
    top: -70px !important;
    overflow-y: auto; 
}

#chat-input {
  color: #555;
}

#chat-input-form {
  padding: 6px 0 8px 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  margin-bottom: 0em !important;
}

.topic {
  color: black;
  text-decoration: none !important;
  background-color: #eeeeee !important;
}

.topic p {
  margin: 5px;
}

div.dropdown a {
  text-decoration: none;
}

.server-link-ul {
  position: relative;
  width: 92%;
  left: -8%;
}

.server-label {
  padding-left: 3%;
  padding-right: 46%;
}

.chat-message-datetime {
  font-size: 12px;
  color: #9B99A5;
}

.chat-logs-container {
  background: #ffffff;
}

/* Bootstrap CSS */
.navbar-inner {
    /*background-color: #330709 !important;*/
    background-color: #eaeaea !important;
    background-image: none !important;
}

/*.brand {
    font-family: 'Oleo Script', cursive;
    font-size: 27px !important;
    color: black !important;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff !important;
}
*/

/*.bitter {
    font-family: 'Bitter', serif;
    font-weight: bold !important;
    text-shadow: none !important;
}
*/

.navbar .nav > li > a:hover {
    color: #A7A7A7;
}

.user-away .dropdown-toggle {
  color: #B7BABB;
}

.nav-list > .user-away.active > a {
  background-color: #ACBAC2 !important;
}

.user-away .icon-user {
  background-color: #ACBAC2;
}

body {
    background-color: #F8F8F8 !important;
}

.global-navbar {
  background-color: #2F4279;
}

.container {
  width: 100%;
}

.global-navbar .navbar-brand {
  font-weight: 500;
  color: #ffffff;
}

.global-navbar.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #39326B;
}

#signout {
  margin-top: 5px;
}

.container {
  width: 100%;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

.nav .nav {
  padding-left: 10px;
}

.server-room-menu-btn, .channel-user-menu-btn, .compact-icon-btn {
  padding: 0px 6px;
}

.user-away a {
  color: #9E9EC2;
}

#chat-servers .panel-body, #chat-channel-users .panel-body {
  padding: 5px 2px 5px 0;
}

#chat-servers, #chat-channel-users {
  padding-right: 5px;
  padding-left: 5px;
}

#chat-servers .panel-info > .panel-heading, #info-panel .panel-info > .panel-heading {
  text-transform: uppercase;
}

.userNickOptions li {
  padding: 0 3px 0 3px;
}

.updateNickInput {
  border-radius: 5px !important;
}

#info-panel {
  padding: 0 5px 0 5px;
}

#info-panel dl {
  margin-top: 5px;
  margin-bottom: 5px;
}

.spin{
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin .9s infinite linear;
     -moz-animation: spin .9s infinite linear;
     -o-animation: spin .9s infinite linear;
     animation: spin .9s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nprogress > .bar, #nprogress > .spinner {
  z-index: 10000;
}

#nprogress > .bar {
  height: 3px;
}

.chatlogs-table {
  width: 102%;
  padding-right: 14px;
}

.chatlogs-table td > .row {
  margin-right: 5px;
}

.chatlog-row {
  border-bottom: 1px dashed #F4F2F7;
}

.chatlog-from {
}

.chatlog-time {
  margin-right: 5px;
}

.chatlog-notice {
  font-size: 13px;
  font-style: italic;
}

.chatlog-notice .chatlog-message {
  color: #9C9393;
}

.panel-info .panel-body {
  padding: 0px !important;
}

.info-panel-item.pm {
  padding-left: 5px;
}

#info-panel .panel-body {
  overflow-y: auto;
}

.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility: visible\9;
  opacity: 0.99;
}

.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nano > .pane {
  background: rgba(0,0,0,.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano .pane {
  background: #777;
  width: 6px;
  right: 1px;
  margin: 2px;
}

.chat-logs-container.nano .pane {
  right: -1px;
  margin: 1px;
}

.nano .slider {
  background: #111;
}

.chat-logs-container {
  overflow-x: hidden;
}

#chatlogs-loader {
  z-index: 1000;
  left: 45%;
  background-color: #C4DFF1;
  width: 10%;
  border-radius: 0px 0px 5px 5px;
  top: -9px;
  position: absolute;
  margin: auto;
  padding: 5px;
  border: solid 1px rgb(26, 55, 105);
}

.channel-nicks-loader, .chatlogs-loader-msg {
  background-color: #E4F2FD;
  text-align: center;
}